/* RED BORDER VISUALS */
/* {
      border: red solid 1px;
} */

/* VARIABLES */
:root {
    --background-color: #002244;
    --text-color: #FA4616;
    --paratext: white;
}

/* General CSS Reset */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.header {
    color: var(--text-color);
    font-family: sans-serif;
    text-align: center;
}

.paratop p{
    font-family: sans-serif;
    color: var(--paratext);
    text-align: center;
    margin: 0 100px 0 100px;
    padding-bottom: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.row-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.card {
    display: grid;
    padding: 10px;
    border: dashed var(--paratext) 2px;
    border-radius: 2px;
    /* Note from classmate in Discord chat */
    flex-basis: 30%;
}

.title-card {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -35px;
    height: 40px;
    border: solid 1px var(--paratext);
    border-radius: 6px;
    padding: 5px;
    font-family: sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.definition {
    display: flex;
    margin: 10px;
    font-family: sans-serif;
    color: var(--text-color);
}

.code {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 38, 255, 0.3) 0%, rgba(250, 70, 22, 0.6) 100%);
    color: white;
}

.code pre{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.5;
    white-space: pre-wrap;
    user-select: all;
    padding-left: 10px;
    margin: 3px;
}

pre::selection {
    background-color: rgb(250, 70, 22);
    color: black;
}

footer {
    text-align: center;
    font-family: sans-serif;
    color: var(--text-color);
    font-size: 150%;
    font-weight: bold;
    padding: 40px;
}

/* ANIMATIONS/PSEUDO */

.card .title-card {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .title-card {
    box-shadow: inset 0px 0px 8px rgba(250, 70, 22, 1), 0 0 15px rgba(250, 70, 22, 1);
}

/* MEDIA QUERIES - UNFINISHED - Need Tablet View */

@media screen and (max-width: 992px) {
    .card {
        flex-basis: 30%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: 100%;
        margin: 1em 0;
    }
}

