* {
     /* border: red solid 1px; */
}

:root {
    --background-color: rgb(53, 58, 70);
    --text-color: rgb(247, 107, 247);
    --paratext: white;
}

/* General CSS Reset */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.header {
    color: var(--text-color);
    font-family: sans-serif;
    text-align: center;
}

.paratop p{
    font-family: sans-serif;
    color: var(--paratext);
    text-align: center;
    margin: 0 100px 0 100px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-one {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}

.row-two {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    display: grid;
    width: 30%;
    padding: 10px;
    border: dashed var(--paratext) 2px;
    border-radius: 2px;
}

.title-card {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    border: solid 1px var(--paratext);
    border-radius: 3px;
    padding: 5px;
    font-family: sans-serif;
    color: var(--text-color);
}

.definition {
    display: flex;
    font-family: sans-serif;
    font-size: 75%;
    color: var(--text-color);
}

.code {
    display: grid;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 5px;
    background-image: linear-gradient(rgba(136, 62, 138, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    font-family: monospace;
    color: white;
}

.code p{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10px;
    margin: 3px;
}

.code .code-indent {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    margin: 3px 30px;
    line-height: 1.5;
}

